.privacy-text {
  font-family: "Nunito", "sans-serif";
}
.privacy-paragraph {
  margin-top: 10vh;
}
.privacy-container {
  background-color: white;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0vh 10vh 10vh 10vh;
  border-radius: 100px;
  border-color: #46b2ff;
  border-style: solid;
}
strong {
  color: rgb(70, 70, 70);
  margin-right: 1vh;
}
td,
th {
  border-color: grey;
  border-width: 2px;
  border-style: solid;
}
.link {
  margin-left: 0.5vh;
  color: blue;
  text-decoration: underline;
}
.not-added {
  font-size: 1.5vw;
}
