.project-dim {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 40vw;

  margin-top: 10vh;
  top: 0;
  position: absolute;
  z-index: 10;

  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 800;
  user-select: none;

  color: #346ca8;
  font-family: "Nunito";
}
.project-dim-text {
  display: flex;
  width: auto;
  flex-direction: row;
  margin-right: 1vw;
  margin-left: 1vw;
}
