.draw-button-style {
  user-select: none;
  margin-left: 1%;
  margin-right: 1%;
  height: 20%;
  aspect-ratio: 1 / 1;
  background-color: #ebf5fb;
  border-color: #6fbeff;
  border-style: solid;
  border-radius: 5px;
  font-size: 2vh;
}

.motion-button {
  user-select: none;
  cursor:pointer;
}
