.web-container {
  height: 100vh;
  width: 100vw;
  background-color: #bfedf5;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-logo {
  height: 20vh;
  margin-top:3vh;
  margin-bottom: 3vh;
  border-radius: 100px;
}
/*Continer for login window*/
.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 70vh;
  width: 60vh; 

  background-color: rgb(255, 255, 255);

  border-color: rgb(255, 235, 123);
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;

  margin-bottom:5vh;
}

/*Text on top of window*/
.login-request {
  font-family: "Pacifico", "cursive";
  font-size: 6vh;
  color: rgb(255, 219, 18);
  user-select: none;
  text-decoration: underline;
  margin-bottom: 4vh;
}
/*Input fields*/
.login-field {
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(162, 162, 162);
  margin-bottom: 4vh;
  width: 40vh;
}

/*Text above input fields*/
.login-field-name {
  user-select: none;
  text-align: center;
  width: 70vw;
  font-family: "Nunito", sans-serif;
  font-size: 4vh;
  font-weight: 800;
  color: rgb(113, 215, 233);
}

/*Only shows up when error is made*/
.warning-message {
  color: red;
  text-align: center;
  width: 70vw;
  margin-bottom: 4vh;
  font-size:2.5vh;
}

/*Location formatting for log in button*/
.login-button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items:center;
  width: 50vh;
  padding-right:12vh;
}

.login-button {
  display:flex;
  justify-content:center;
  align-items:center;
  user-select: none;

  height: 6vh;
  width: 12vh;

  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 3vh;

  text-align: center;
  background-color: rgb(109, 243, 255);
  color: white;
  border-radius: 5px;
}

.forgot-pass{
  font-family:"Nunito",sans-serif;
  font-weight:500;
  text-decoration:underline dotted;
  font-size:2.5vh;
  margin-left:10vh;
  color: rgb(137, 137, 137);
}

/*"I don't have an account"*/
.register {
  margin-top:5vh;
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-weight: 500;
  text-decoration: underline dotted;
  color: rgb(137, 137, 137);
  font-size: 2.5vh;
}
