/*Billy Weevil*/
.register-logo {
  margin-top:3vh;
  height: 20vh;
  margin-bottom:3vh;
  border-radius: 100px;
}

/*Window that holds all of the information*/
.register-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 70vh; /*hard- coded, may need to change*/
  width: 60vh;

  background-color: rgb(255, 255, 255);

  border-color: rgb(255, 235, 123);
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;
  margin-bottom:3vh;
}

/*Title at the top of the window*/
.register-request {
  font-family: "Pacifico", "cursive";
  font-size: 5vh;
  color: rgb(255, 219, 18);
  user-select: none;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 3vh;
}



/*The input fields*/
.register-field {
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(162, 162, 162);
  margin-bottom: 2vh;
  width: 40vh;
}

/*The text above the input fields*/
.register-field-name {
  user-select: none;
  font-family: "Nunito", sans-serif;
  font-size: 3.5vh;
  font-weight: 800;
  width: 80vw;
  color: rgb(113, 215, 233);
  text-align: center;
}

/*The 'Create Account' button*/
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  height:3vh;
  width:30vh;

  border-radius: 5px;
  padding: 1vh;
  margin: 3vh;
  background-color: rgb(109, 243, 255);
  font-size: 3vh;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
/*Warning message*/
/*only appears on failed attempts*/
.warning {
  color: red;
  text-align: center;
  width: 200%;
  font-size:2.5vh;
}

/*I already have an account...*/
.login {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size:2.5vh;
  font-weight: 500;
  text-decoration: underline dotted;
  color: rgb(137, 137, 137);
}

@media (max-width:480px) {
 .register-window{
  width:100vw;
 }
 .register-inputs{
  width:100vw;
 }
}
