.color-button-container-style {
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  margin: 1%;
  position: relative;
  overflow: visible;
}
.color-button-style {
  user-select: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;

  overflow: visible;

  background-color: #ebf5fb;

  border-radius: 5px;
  border-width: 0px;
  font-size: 2vh;
}
.color-picker-container {
  background-color: white;
  position: absolute;
  top: 100%;
  z-index: 999;
  overflow: visible;
  border-radius: 10px;
}
.hex-color-picker {
  border-color: white;
  border-style: solid;
  border-width: 10% 10% 0% 10%;
  border-radius: 10px;
}

.hex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
  color: rgb(138, 138, 138);
  font-family: "Nunito", "sans-serif";
  font-weight: 600;
  height: 5vh;
}

.hex-input {
  margin-left: 5%;
  width: 50%;
  border-radius: 15px;
  border-style: solid;
  border-color: gray;
}
