.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350vh;
  width: var(--webpage-width);
  z-index: 1;
  background-color: rgb(228, 246, 255);
}

.hero-space {
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #4daa66;
  height: 75vh;
  width: var(--webpage-width);
  position: absolute;
}
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 1, 0.25);
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 5vw;
  text-align: center;
  height: 30%;
  width: 100%;
  bottom: 0;
}

.first-summary {
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;

  font-family:'Nunito','sans-serif';
  color:var(--project-text);

  margin-top:80vh;

  font-size:3vw;

  width:70vw;
  background-color:white; 
  border-color:rgb(255, 225, 114);
  border-style:solid;
  border-width:1vh;
  border-radius:25px;
  padding:5vh;
}

.first-summary-title {
  font-weight:800;
  text-decoration:underline;
  margin-bottom:5vh;
}

.first-summary-text{
  width:60vw;
  font-weight:500;
  font-size:2.5vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-button {
  background-color: aqua;
  border-radius: 5px;
  padding: 1%;
}

.bubble-div {
  display: flex;
  align-items:center;
  justify-content:center;
  margin-top: 20vh;
  margin-bottom:20vh;
  width: var(--webpage-width);
  height: 80vh;
}
.bubble-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 10vh;
  width: 50%;
}

.bubble-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  aspect-ratio: 1/1;

  border-radius: 1000px;
  border-color: var(--logo-yellow);
  border-style: solid;
  border-width: 1.5vh;

  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 2vw;

  color: var(--project-text);
  background-color: var(--logo-blue);
}
.small-bubble {
  margin-top: 20vh;
  margin-left: 25%;
  font-size:1.8vw;
}

.under-bubble-text {
  font-family: "Nunito", sans-serif;
  margin-top: 45vh;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  color: var(--project-text);
}
.bubble-screenshot {
  height: 100%;
  width: 50%;
  left: 0;
  background-color: rgb(135, 135, 228);
  border-radius: 15px;
  overflow:hidden;
}

.download-container{
  margin-top:20vh;
  font-family:"Nunito","sans-serif";
  text-align:center;

  color:rgb(40, 99, 162);
  
  font-weight:800;
  font-size:2vw;

  text-decoration:underline;
  
}


.trial-error {
  font-size: 3vw;
  margin-bottom: 3%;
  text-align: center;
  color: var(--project-text);
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  text-decoration: underline;
}

.compare-div {
  display: flex;
  justify-content: space-between;
  width: var(--webpage-width);
  height: 70vh;
}

.change-prop-text {
  margin-top: 20vh;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: var(--project-text);
  text-align: center;
  font-size: 3vw;
}
.change-prop-img {
  height: 60vh;
  width: 70vw;
  border-radius: 5vw;
  box-shadow: 5px 10px var(--project-text);
  background-color: orange;
}

@media (max-width:480px) {

  .first-summary-title{
    font-size:5vw;
  }
  .first-summary-text{
    font-size:4vw;
  }
  .bubble-div{
    margin-top:20vh;
    flex-direction:column-reverse;
  }
  .bubble-screenshot{
    margin-top:10vw;
    height:100vw;
    flex:none;
  }
  .bubble-info{
    font-size:5vw;
  }
  .small-bubble{
    font-size:5vw;
  }

  .under-bubble-text{
    width:80vw;
    margin-left:0;
    margin-right:0;
    font-size:5vw;
  }

  .download-container{
    margin-top:40vh;
    font-size:3.5vw;
  }
  .trial-error{
    font-size:5vw;
    margin-bottom:10vw;
  }
}
