
.scroll-container {
    display:flex;
    flex-direction:row-reverse;
    width:90vw;
    height:30vh;
    position:relative;
    overflow:hidden;
}

.scroll-image-container {
    display:flex;
    height:98%;
    aspect-ratio:2/1;
    margin-right:1vw;
    margin-left:1vw;
    border-radius:25px;
    overflow:hidden;
    border-style:solid;
    border-color:rgb(69, 100, 187);
    border-width:2%;
}
.full-scroll {
    display:flex;
    flex-direction:row;
    position:absolute;
    height:100%;
}
.scroll-image {
    height:100%;
    aspect-ratio:1/1;
}

@media (max-width: 480px) {
    .scroll-container{
        margin-top:5vh;
    }
    .scroll-image {
        height:30vw;
        width:30vw;
    }
}