
.scroll-container {
    display:flex;
    flex-direction:row-reverse;
    width:90vw;
    height:30vh;
    position:relative;
    overflow:hidden;
}

.scroll-image-container {
    display:flex;
    position:absolute;
    height:30vh;
    width:60vh;
    background-color:blue;
    margin-right:1vw;
    margin-left:1vw;
    border-radius:25px;
    overflow:hidden;
}
.scroll-image {
    height:100%;
    width:50%;
}

@media (max-width: 480px) {
    .scroll-container{
        margin-top:5vh;
    }
    .scroll-image {
        height:30vw;
        width:30vw;
    }
}