.about-webpage {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:90vh;
    background-color: rgb(228, 246, 255);
}

.about-text-container{
    height:70vh;
    width:60vw;
    padding-right:10vh;
    padding-left:10vh;

    background-color:white;

    border-radius:25px;
    border-color:#8fcffc;
    border-width:.25vw;;
    border-style:solid;
}

.about-greeting{
    font-size:2vw;
    color:rgb(79, 149, 255);
    font-weight:800;
}

.about-image{
    height:20vh;
    border-radius:100vw;
    aspect-ratio:1/1;
    background-color:red;
    margin-right:5vh;
}

.about-top-text{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:10vh;
}
.about-bottom-text{
    margin-top:10vh;
}
.about-text{
    font-family:"Nunito","sans-serif";
    font-size:1.5vw;
}

@media (max-width:480px) {
    .about-webpage{
        justify-content:flex-start;
        height:200vh;
    }
    .about-image{
        margin-bottom:5vh;
    }
    .about-text-container{
        margin-top:10vh;
        height:170vh;
    }
    .about-greeting{
        font-size:6vw;
    }
    .about-top-text{
        flex-direction:column;
    }
    .about-text{
        font-size:5vw;
    }
}
