.footer-container{
    display:flex;
    flex-direction:row;
    background-color: rgb(97, 137, 197);
    height:25vh;
    width:var(--webpage-width);
}
.footer-link-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.footer-top{
    height:20vh;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:70vw;
    align-items:center;
}
.footer-bottom{
    height:5vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:40vw;
}
.footer-socials{
    width:15vh;
    display:flex;
    flex-direction:reverse;
    justify-content:space-between;
}
.footer-socials-icon {
    color:rgb(206, 227, 239);
    height:4vh;
    width:4vh;
}
.footer-logo-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-right:5vw;
    margin-left:5vw;
}
.footer-logo{
    height:10vh;
    aspect-ratio:1/1;
    border-radius:300px;
}

.footer-text {
    color:rgb(206, 227, 239);
    text-align:center;
    font-family:"Nunito","sans-serif";
    font-size:1.5vw;
    font-weight:800;
}

.footer-text-bottom{
    font-size:1vw;
}

.footer-email {
    color:rgb(229, 226, 176);
    font-family:'Nunito','sans-serif';
    text-align:center;
    font-size:1.5vw;
    text-decoration:underline;
}

.copyright-text {
    font-family:"serif";
    font-weight:100;
    font-size:1.3vw;
}
@media (max-width:480px) {
    .footer-logo-container{
        margin-top:2vh;
        margin-bottom:2vh;
    }
    .footer-top{
        height:60vh;
        flex-direction:column;
        margin-bottom:2vh;
    }
    .footer-container{
        flex-direction:column;
        align-items:center;
        height:97vh;
    }
    .footer-text{
        font-size:6vw;
    }
    .footer-bottom{
        margin-top:2vh;
        width:60vw;
    }
    .footer-text-bottom{
        font-size:4vw;
    }
    .footer-email{
        font-size:4vw;
    }
}