.mode-bar {
  height: 10%;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  background-color: #bbdff8;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 99;
}
.mode-buttons {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.right-side {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}
.mode-icon{
  height:3.5vh;
  width:3.5vh;
  color:rgb(211, 98, 23);
}
