:root {
  --webpage-width: 99vw;
}

html,body {
  margin:0;
  padding:0;
}

.clickable {
  cursor:pointer;
}

.sandbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: var(--webpage-width);
}
.right-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
  color: white;
}
.left-window {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  color: white;
}

.side-window {
  background-color: #aed6f1;
  border-color: #85c1e9;
  border-width: 2px;
  border-style: solid;
  height: 50%;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 0.5%;
}
.side-title-bar {
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #d6eaf8;
  margin-bottom: 3%;
  border-radius: 25px;
  font-size:2.3vh;
}

.canvas-div {
  width: 50vw;
  height: 100%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.webpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #85c1e9;
  width: var(--webpage-width);
}

@media (max-height:480px) {
  .side-title-bar{
    height:5vh;
    font-size:4vh;
  }
  .right-window{
    height:90vh;
  }
}
