.attribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-family:"Nunito",sans-serif;
  font-weight:600;
  font-size:1vw;
  justify-content: flex-start;
}
.attribute-name {
  background-color: #d6eaf8;
  color: black !important;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-right: 2%;
  padding: 2%;
  border-radius: 5px;
}
.position-attribute {
  justify-content: space-evenly !important;
}
.field-style {
  justify-content: center;
  flex-direction: center;
  text-align: center;
  border-radius: 5px;

  border: solid;
  border-color: gray;
  border-width: 2px;
}
.small {
  width: 3vw;
  font-size:1vw;
}
.large {
  width: 80%;
}
.position-field-style {
  height: 10%;
  display: flex;
  justify-content: center;
  flex-direction: center;
  text-align: center;
  border-radius: 5px;
  border: solid;
  border-color: gray;
  border-width: 2px;
}
.stitch-text {
  margin-left: 1%;
  font-size: 1vw;
}

.delete-button {

  font-family:"Nunito","sans-serif";
  font-size:1.3vw;
  font-weight:700;
  text-align:center;

  margin-top:4vh;
  margin-left:1vw;

  width:7vw;
  
  color:red;
  background-color:white;
  border-color:red;

  border-radius:25px;
  border-style:solid;
  border-width:0.2vw;

  user-select:none;
}

.color-field {
  width:7vw;
  font-size:1vw;
  border-radius: 5px;
  cursor:pointer;
}

@media (max-height:480px) {
  .attribute-name {
    height:5vh;
    font-size:3vh;
    margin-top:2vh;
  }

  .attribute{
    margin-top:2vh;
    font-size:3vh;
  }

  .position-field-style{
    height:5vh;
    font-size:3vh;
  }

  .color-field{
    height:5vh;
    width:10vw;
    font-size:3vh;
  }

  .stitch-text{
    font-size:2.5vh;
  }

  .delete-button{
    height:5vh;
    font-size:3vh;
  }
}
